// $navbarBgColor: #9eadba;
$navbarBgColor: #4484ef;
$menubarBgColor: #333333;
$menubarItemColor: #87929c;
$menubarItemActiveColor: white;

$fontColor: #4A5661;
$containerBorderColor: #DFE3E4;

$customerListBgColor: #F3F7F8;
$customerItemBorderColor: #C3CFD9;
$customerItemActiveBorderColor: #756AF6;
$customerItemActiveBgColor: #94b9da;
$customerItemHoverBgColor: #dae2e8;
$customerItemAvatarColor: #4A5661;

$detailCardBgColor: #FFFEFF;
$detailCardBorderColor: #E9EBEC;
$detailTitleColor: #424447;
$searchResultBgColor: #396994;
$specLabelColor: #A3ABB5;
$specColor: #7389A8;

$loginBgColor: white;

$filterBoxWidth: 200px;

$navbarHeight: 50px;
$customerListWidth: 450px;
$botDetailWidth: 420px;
$menubarWidth: 80px;
$customerListHeaderHeight: 50px;
$botDetailListHeaderHeight: 50px;
$chatAreaHeaderHeight: 50px;
$chatAreaInputHeight: 160px;
$chatTagHeight: 55px;

$archiveItemActiveColor: #d3d8dc;
$archiveItemHoverColor:#d3d8dc;
$archiveItemActiveBorderLeftColor: #217bca;
$archiveItemBorderBottomColor: rgb(221, 226, 230);

$supervisedAreaBgColor: #bbbaba;
